@import '../functions'


.core_auth_root
  abs-pos()
  background darken(white, 10%)
  overflow hidden
  
  .core_sign_in
    position absolute
    top 50%
    left 50%
    margin-left -250px
    margin-top -170px


@import './auth/sign_in'
@import './auth/provider_btn'
