@import './harness/_functions'
@import FONT_URL_UBUNTU
@import '../controls/tab_strip'

head, body
  height 100%
  overflow hidden

.th_harness
  font-family DEFAULT_FONT_FAMILY
  p
    padding 0px
    margin 0px

// Structure.
@import './harness/_common'
@import './harness/_sidebar'
@import './harness/_main'
@import './harness/_main_context_pane'
@import './harness/_markdown'

// Tabs.
@import './harness/tabs/_base'

