@import '../functions'

// Constants.
SIDEBAR_WIDTH    = 300px
BORDER_COLOR     = darken(white, 60%)
LABEL_COLOR      = darken(white, 70%)
TITLE_BAR_HEIGHT = 34px

// Functions.
overflow-y()
  overflow hidden
  overflow-y auto


harnessImage(name)
  url('../../images/harness/' + name)
  

