@import './_functions'

// Main.
.th_harness > .th_main
    abs-pos SIDEBAR_WIDTH, 0, 0, 0
    border-left solid 1px BORDER_COLOR
    box-shadow 0px 0px 20px 10px rgba(black, 0.15)
    background white
    padding 10px 20px
    
    div.th_title
      font-weight 300
      color darken(white, 75%)
      border-bottom solid 1px darken(white, 20%)
      padding-bottom 10px
      // line-height 190%
      
      p.th_title
        font-size 24px
        ellipsis()
      p.th_summary
        font-size 10pt
        color darken(white, 55%)
        margin-top 5px
        line-height 150%
    
    div.th_host
      position absolute
      top 50%
      left 50%
