@import './_functions'


// Context Pane.
.th_harness > .th_main > .th_context_pane
  abs-pos 0, null, 0, 0
  height CONTEXT_PANE_HEIGHT - 1 // Account for border
  border-top solid 1px BORDER_COLOR
  background darken(white, 3%)
  
  > .th_tab_strip
    border-bottom solid 1px BORDER_COLOR
  
