@import './_functions'


// "Specs" list.
.th_sidebar > .th_spec_list
  position absolute
  left 0px
  right 0px
  bottom 0px
  background darken(white, 5%)
  
  .th_scroller
    abs-pos 0, TITLE_BAR_HEIGHT + 2, 0, 0
    ul
      margin 5px
      margin-top 8px
      margin-bottom 15px
    
      li.th_btn
        cursor pointer
        color LABEL_COLOR
        font-size 10pt
        margin-top 5px
        textEmboss()
        padding 3px
        
        &:hover
          text-decoration underline