@import './_common'
@import './harness/_sidebar_suites'
@import './harness/_sidebar_specs'


// Sidebar.
.th_harness > .th_sidebar
    abs-pos 0, 0, null, 0
    width SIDEBAR_WIDTH
    background darken(white, 4%)
    overflow hidden
    
