@import './_functions'



// "Specs" list.
.th_sidebar > .th_spec_list
  // abs-pos 0 50% 0 0
  position absolute
  left 0px
  top 50%
  right 0px
  bottom 0px
  
  .th_scroller
    abs-pos 0, TITLE_BAR_HEIGHT + 2, 0, 0
    ul
      margin 5px
      padding 10px
      padding-left 20px
    
      li.th_spec_btn
        cursor pointer
        color LABEL_COLOR
        font-size 10pt
        margin-top 5px
        textEmboss()
        padding 3px