@import './_functions'

// "Suites" list.
.th_sidebar > .th_suite_list
  position relative
  height 50%
  
  .th_title_bar
    border-top none
  
  .th_scroller
    abs-pos 0, TITLE_BAR_HEIGHT + 1, 0, 0
    ul
      list-style none
      margin 0px
      padding 0px
  
  // Root button.
  .th_suite_btn
    padding 12px
    border-bottom solid 1px darken(white, 20%)
    &.core_selected
      background darken(white, 10%)
      box-shadow inset 0 0px 5px 2px rgba(black, 0.10)

    // Child suites.
    ul.th_sub_suites
      margin 0px
      padding-left 14px
      li.th_suite.th_child
        margin-top 5px
    
    // Sub-suite button.
    .th_sub_suite_btn
      cursor pointer
      font-size 10pt
      color darken(white, 70%)
      background-image harnessImage('bullet_gray.png')
      background-repeat no-repeat
      background-position 0px 50%
      padding-left 16px
      ellipsis()
      textEmboss()
    
    .th_sub_suite_btn:hover
      text-decoration underline
    
    .th_sub_suite_btn.core_selected
      background-image harnessImage('bullet_blue.png')
      text-decoration none
      cursor default
    
