@import './_functions'

.th_markdown
  padding-bottom 50px
  .core_markdown
    font-size 10pt
    h1
      font-size 20pt
    h2
      font-size 17pt
    h3
      font-size 14pt
    h4
      font-size 12pt
    h5
      font-size 11pt

// Markdown rendered in main host.

.th_host .th_markdown
  .core_markdown
    position relative
    width 850px
    margin-left auto
    margin-right auto


