@import '../../functions'

.core_auth_sign_in
  MARGIN    = 15px
  HR_BORDER = solid 1px darken(white, 20%)
  
  position relative
  width 450px
  height 300px
  padding MARGIN
  
  .core_title
    font-size 24px
    font-weight 300
    color darken(white, 60%)
    padding-bottom 8px
    border-bottom HR_BORDER
  
  .core_body
    abs-pos MARGIN, 60, MARGIN, 75
    
  
  .core_footer
    abs-pos MARGIN, null, MARGIN, MARGIN
    padding-top 12px
    border-top HR_BORDER
    .core_btn_sign_in
      float:right
  
  
  
  
  


