@import '../../functions'

// Open-ID Authentication Provider.
.core_auth_sign_in
  MARGIN    = 15px
  HR_BORDER = solid 1px darken(white, 20%)
  BG_COLOR  = darken(white, 3%)
  
  position relative
  width 500px
  padding MARGIN
  background BG_COLOR
  
  .core_title
    font-size 24px
    font-weight 300
    color darken(white, 60%)
    padding-bottom 8px
    border-bottom HR_BORDER
  
  .core_body
    position relative
    margin-top 5px
    margin-bottom 5px
    
    table.core_providers
      width 100%
      margin-top 15px
      margin-bottom 15px
      td
        padding 8px
  
  .core_footer
    position relative
    height 34px
    padding-top 12px
    border-top HR_BORDER
    .core_btn_sign_in
      float:right
  
  
  // Provider Button.
  .core_provider_btn
    FAT_BORDER    = 6px
    
    position relative
    border-radius 10px
    // background darken(white, 6%)
    
    height 45px
    padding-bottom (FAT_BORDER * 2) 

    border solid FAT_BORDER BG_COLOR
    .core_inner_border
      position relative
      height 100%
      border-radius 4px
      border solid 1px darken(white, 20%)
      background: linear-gradient(top, darken(white, 1%), darken(white, 10%))
      
      // TEMP
      // background orange
      color darken(white, 40%)
      padding 5px
      font-size 8pt
      
    
    &.core_selected
      border solid FAT_BORDER darken(white, 20%)
      .core_inner_border
        background darken(white, 2%)
    
  
  
  
  
  


