@import './functions'
@import '../libs/normalize.css'


// Common classes.
body
  font 15px DEFAULT_FONT_FAMILY

div.core_bevel_highlight
  bevelHighlight()
  
.core_text_emboss
  textEmboss()

.core_abs_fill
  abs-pos()
