@import './functions'

// Common classes.
div.core_bevel_highlight
  bevelHighlight()
  
.core_text_emboss
  textEmboss()

.core_abs_fill
  abs-pos()

.core_inset_pane
  BG = darken(white, 3%)
  background BG
  border solid 1px darken(white, 26%)
  border-radius 5px


// Reset a UL to remove spacing and bullets
ul.core_reset
  margin 0px
  padding 0px
  list-style none


// Drop shadows.
.core_shadow_x_8px
  core-shadow-x-8px()