@import 'nib'
@import '../libs/normalize.css'

// Constants.
DEFAULT_FONT_FAMILY = "Lucida Grande", Helvetica, Arial, sans-serif

FONT_UBUNTU = 'Ubuntu', DEFAULT_FONT_FAMILY
FONT_URL_UBUNTU = 'http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,400italic.css'


// Functions.
toUnit(prop, value, unit=px)
    if value is not null
      {prop} unit(value, unit)

abs-pos(left = 0, top = 0, right = 0, bottom = 0, unit=px)
    position absolute
    toUnit 'left', left, unit
    toUnit 'top', top, unit
    toUnit 'right', right, unit
    toUnit 'bottom', bottom, unit


// Style functions.
bevelHighlight()
  absPosition(0, 0, 0, null)
  height: 1px
  background: white

textEmboss()
  text-shadow: 0px 1px 0px white;

noEmboss()
  text-shadow: none;

noSelect()
  user-select none


// Common classes.
body
  font 15px DEFAULT_FONT_FAMILY

div.core_bevel_highlight
  bevelHighlight()
  
.core_text_emboss
  textEmboss()

.core_abs_fill
  abs-pos()
