@import functions

// ------------------------------------------------------
//                        Common
// ------------------------------------------------------
body
  font 15px "Lucida Grande", Helvetica, Arial, sans-serif

div.bevel.highlight
    absPosition(0, 0, 0, null)
    height: 1px
    background: white

.text_emboss
  text-shadow: 0px 1px 0px $white;

.abs_fill
  absPosition()
