@import 'functions'
@import 'nib'

// ------------------------------------------------------
//                    Constants
// ------------------------------------------------------
DEFAULT_FONT_FAMILY = "Lucida Grande", Helvetica, Arial, sans-serif


// ------------------------------------------------------
//                   Common Styles
// ------------------------------------------------------
bevelHighlight()
  absPosition(0, 0, 0, null)
  height: 1px
  background: white

textEmboss()
  text-shadow: 0px 1px 0px white;

noEmboss()
  text-shadow: none;


noSelect()
  user-select none


// ------------------------------------------------------
//                  Common Classes
// ------------------------------------------------------
body
  font 15px DEFAULT_FONT_FAMILY

div.core_bevel_highlight
  bevelHighlight()
  
.core_text_emboss
  textEmboss()

.core_abs_fill
  abs-pos()
