@import './harness/_functions'
@import FONT_URL_UBUNTU
@import '../controls/tab_strip'

.th_harness
  font-family DEFAULT_FONT_FAMILY
  p
    padding 0px
    margin 0px
  
@import './harness/_common'
@import './harness/_sidebar'
@import './harness/_main'
@import './harness/_main_context_pane'

