.core_markdown
  HR_BORDER = solid 6px darken(white, 8%)
  
  font-size 10pt
  font-weight 200
  
  // Default markdown content styles.
  h1
    font-weight 300
    font-size 32pt
    margin 0px
    margin-top 10px
    margin-bottom 10px
    font-weight 200

  h2
    font-weight 300
    font-size 24pt
    border-top HR_BORDER
    padding-top 15px
    margin-top 50px

  h3
    margin-top 30px
    margin-bottom 10px
    font-size 16pt

  h4
    font-size 13pt
    margin-bottom 6px
    margin-top 25px

  h5
    font-size 12pt
    margin-bottom 4px
    text-transform:uppercase
    color darken(white, 50%)

  p
    line-height 170%
    font-size 11pt
    margin-top 0px
    margin-bottom 20px

  hr
    border none
    border-top HR_BORDER
    margin-top 50px
    margin-bottom 50px

  ul
    line-height 120%
    padding-left 20px

  li
    font-size 11pt
    margin-bottom 10px
    p
      margin-bottom 0px
    br
      margin 0px

  blockquote
    margin 0
    margin-top 25px
    margin-bottom 25px
    margin-left 1em 0
    border-left solid 4px darken(white, 4%)
    padding-left 0.4em
    color darken(white, 40%)
    font-weight 200
    font-style italic
    p
      margin 20px
      font-size 15pt

  code
    background darken(white, 2%)
    font-family 'Consolas', 'Bitstream Vera Sans Mono','Courier', monospace
    padding 3px
    border solid 1px darken(white, 12%)
    font-size 10pt

  pre
    background darken(white, 2%)
    padding 15px
    border-radius 5px
    border solid 1px darken(white, 15%)
    box-shadow inset 0px 2px 5px 0px darken(white, 10%)
    font-size 10pt
    margin-top 30px
    margin-bottom 30px
    code
      background none
      border none
