@import '../common'

button.core_cmd
  smooth-button(darken(white, 3%))
  textEmboss()
  color darken(white, 60%)
  border-color darken(white, 30%)
  font-weight normal
  
  &.core_size_s
    font-size 8pt

  &.core_size_m
    font-size 12pt
    padding 10px 23px

  &.core_size_l
    font-size 17pt
    padding 12px 34px
