@import '../functions'

ul.core_control_list
  position relative
  list-style-type none
  margin 0px
  padding 0px
  
  li
    margin 0px
    padding 0px
  
  // Horizontal (X)
  &.core_x
    background red
  
  // Vertical (Y)
  &.core_y
    background blue
  




