@import '../functions'

ul.core_control_list
  position relative
  list-style-type none
  margin 0px
  padding 0px
  
  
// Horizontal (X)
ul.core_control_list.core_x
  li 
    display: inline
  
// Vertical (Y)
ul.core_control_list.core_y
  li 
    display: block




