@import '../functions'

tabStrip(prefix = CLASS_PREFIX)
  ul.{prefix}_tab_strip
    height 38px
    background: linear-gradient(top, darken(white, 3%), darken(white, 20%))
    overflow hidden
    list-style-type none
    margin 0px
    padding 0px
  
    // Tab: Default.
    li.{prefix}_tab
      position relative
      float left
      height 100%
      p
        font-size 10pt
        color darken(white, 70%)
        margin-left 25px
        margin-right 25px
        margin-top 11px
        textEmboss()
        cursor default
        text-decoration none
    
      div.{prefix}_div_left
        abs-pos 0, 0, null, 0
        width 1px
    
      div.{prefix}_div_right
        abs-pos null, 0, 0, 0
        width 2px
        background-image: CONTROLS__TAB_STRIP__DIVIDER
        background-repeat no-repeat
        background-position right center
      
      // First tab.
      &.{prefix}_first
        border-top-left-radius inherit
        border-bottom-left-radius inherit
    
      &.{prefix}_enabled
        // Tab: Over.
        &.{prefix}_over
          background: linear-gradient(top, darken(white, 5%), darken(white, 25%))
    
        // Tab: Down.
        &.{prefix}_down
          background: linear-gradient(top, darken(white, 25%), darken(white, 5%))
          div.{prefix}_div_right
            background none
    
        // Tab: Selected.
        &.{prefix}_selected
          background: darken(white, 7%)
          BORDER = darken(white, 30%)
          div.{prefix}_div_left
            border-left solid 1px BORDER
          div.{prefix}_div_right
            background none
            border-right solid 1px BORDER
    
        // Don't show the left hand border for the first tab.
        &.{prefix}_first
          div.{prefix}_div_left
            border-left none
    
      // Don't show the fade-out divider if the next tab is selected.
      &.{prefix}_before_selected
        div.{prefix}_div_right
          background none
    
      // Disabled.
      &.{prefix}_disabled
        background none
        p
          color darken(white, 30%)
    
    
    
  
  