!!! 5
html(lang='en')
  head
    title= title
    
    // Stylesheets.
    
    // link(type='text/css', rel='stylesheet', href="#{stylesheetDir}/harness.css")
    
    // Test Harness.
    - JS_PATH = core.baseUrl + '/javascripts'
    script(type='text/javascript', src="#{JS_PATH}/libs/libs-min.js")
    script(type='text/javascript', src="#{JS_PATH}/core/harness.js")
    
    != partial('./scripts')
    
    :coffeescript
      $ -> 
        TestHarness = require 'open.client/harness'
        harness = new TestHarness()
        console.log 'harness', harness
    
  body
    
    
    
    h1 Harness!
    
