!!! 5
html(lang='en')
  head
    title= title
    
    // Test runner.
    - JASMINE_URL = core.baseUrl + '/javascripts/libs/jasmine'
    link(type='text/css', rel='stylesheet', href="#{JASMINE_URL}/jasmine.css")
    script(type='text/javascript', src="#{JASMINE_URL}/jasmine.js")
    script(type='text/javascript', src="#{JASMINE_URL}/jasmine-html.js")
    
    != partial('./scripts')
  
  body
    :coffeescript
      jasmine.getEnv().addReporter(new jasmine.TrivialReporter())
      jasmine.getEnv().execute()