@import '../../functions'


// Functions  -----------------------------------------------------

-reset()
    // Reset button related properties so that
    // a, button, and input's are supported.
    margin: 0
    user-select: none
    display: inline-block
    text-decoration: none
    cursor: default

command-button(bg, highlight=40%, darken=10%)
    -reset()
    dark = bg - darken
    background: bg
    background: linear-gradient(top, bg, dark)
    border: 1px solid dark - 5%
    border-bottom: 1px solid dark
    border-radius: 4px
    box-shadow: inset 0 1px 0 0 lighten(bg, highlight)
    font-family: DEFAULT_FONT_FAMILY
    line-height: 1
    padding: 7px 15px 8px 15px
    text-align: center

command-button-over(bg, darken=20%)
    dark = bg - darken
    background: dark
    background: linear-gradient(top, bg, dark)

command-button-down(bg, darken=20%)
    dark = bg - darken
    border: 1px solid dark
    border-bottom: 1px solid dark
    background: linear-gradient(bottom, bg, dark)
    box-shadow: inset 0 0 8px 4px rgba(black, 0.15), 0 1px 0 0 #eee


// Command Button  -----------------------------------------------------

.core_btn_cmd
  SILVER  = white
  BLUE    = #00bdf3
  
  position relative
  display inline-block;

  button
    width 100%
    height 100%
  
  // Color variants.
  // - Silver.
  &.core_color_silver 
    > button
        command-button(SILVER, 85%, 15%)
        textEmboss()
        color darken(white, 60%)
        border-color darken(white, 30%)
    &.core_over > button
        command-button-over(SILVER, 20%)
    &.core_down > button, &.core_selected > button
        command-button-down(SILVER, 20%)
        border-color darken(white, 35%)
    &.core_disabled > button
        background darken(SILVER, 10%)
        color darken(white, 30%)
        box-shadow none
    
  // - Blue.
  &.core_color_blue 
    > button
        command-button(BLUE, 30%, 20%)
        color white
    &.core_over > button
        command-button-over(BLUE, 30%)
    &.core_down > button, &.core_selected > button
        command-button-down(BLUE, 20%)
    &.core_disabled > button
        background BLUE
        color darken(BLUE, 25%)
        box-shadow none


  // Size variants.
  &.core_size_s > button
    font-size 8pt

  &.core_size_m > button
    font-size 12pt
    padding 10px 23px

  &.core_size_l > button
    font-size 17pt
    padding 12px 34px


