@import '../../functions'


icon(prefix = CLASS_PREFIX)
  .{prefix}_icon_button
    position relative
    cursor default
    display inline-block
    vertical-align bottom
    margin 0px
    padding 0px
    
    // Left icon.
    div.{prefix}_left_icon
      abs-pos()
      background-repeat no-repeat
      background-position 0px 50%
    
    // Label.
    p.{prefix}_label
      font-size 9pt

    // Enabled.
    &.{prefix}_enabled
      cursor pointer
      color PRIMARY_BLUE
      &:hover
        p.{prefix}_label
          text-decoration underline

    // Disabled.
    &.{prefix}_disabled
      color darken(white, 40%)



