@import '../../functions'


// System Toggle Buttons (Radio | Checkbox).
span.core_system_toggle_btn
  position relative
  cursor default
  padding-left 1px
  
  span.core_label
    position relative
    margin-left 6px
    margin-right 25px
    font-family DEFAULT_FONT_FAMILY
    font-size 10pt
    color darken(white, 75%)
    noSelect()

  span.core_label:hover
    text-decoration underline



// Radio Button Set.
ul.core_radio_set
  li
    margin-bottom 8px

// Checkbox Set.
ul.core_checkbox_set
  li
    margin-bottom 8px


