@import '../../functions'


// System State Buttons (Radio | Checkbox)
span.core_system_state_btn
  position relative
  cursor default
  
  span.core_label
    position relative
    margin 0px 25px 0px 6px 
    font-family DEFAULT_FONT_FAMILY
    font-size 10pt
    color darken(white, 75%)
    noSelect()

  span.core_label:hover
    text-decoration underline



// Radio Button Set
ul.core_radio_set
  li
    margin-bottom 8px

