@import '../core/functions'
@import FONT_URL_UBUNTU

body
  padding 10px 30px
  font-family DEFAULT_FONT_FAMILY

.dev
  h1
    font-weight 300
    font-size 36px

  h2
    font-weight 500
    font-size 16pt
  
  li
    margin-bottom 8px
