@import '../core/functions'

// Icon Button.
.test_icon
  
  .core_icon
    margin-left 10px
    
    border solid 1px green
    background orange


// Textbox.
.test_textbox
  .core_textbox
    margin-left 5px


