@import '../core/functions'

// Textbox.
.test_textbox
  .core_textbox
    margin-left 5px
  

// Icon (Button).
.test_icon
  .core_icon_button
    margin-left 20px

.icon_warning
  background-image TEST__CONTROLS__ICON_BUTTON__ACCEPT
  
.icon_accept
  background-image TEST__CONTROLS__ICON_BUTTON__WARNING



@import './dummy'


